@font-face {
    font-family: 'PraktikaRounded-Bold';
    src: url('./fonts/PraktikaRounded-Bold.otf') format('woff'), url('./fonts/PraktikaRounded-Bold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}